@model MvcFrameworkApp.Models.GameFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null && Model.Id > 0)
{
    <h2>Edit</h2>
}
else
{
    <h2>New</h2>
}

@using (Html.BeginForm("Save", "Game"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.EditorFor(m => m.ReleaseDate, new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenreTypeId)
        @Html.DropDownListFor(m => m.GenreTypeId, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreTypeId)
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>
    if (Model != null && Model.Id > 0)
    {
        <button id="delete-game" type="button" class="btn btn-primary">Delete</button>
    }
    else
    {
        @Html.ActionLink("Cancel", "GetGames", null, new { @class = "btn btn-primary" })
    }
}
@section scripts
    {
    <script>
        $(document).ready(function () {
            const deleteButton = $("#delete-game");
            if (deleteButton) {
                deleteButton.on("click", function () {
                    var gameId = $("#Id").val();
                    console.log("Deleting game id: " + gameId);
                    if (confirm("Are you sure you want to delete this game?")) {
                        $.ajax({
                            url: "https://localhost:44345/games/" + gameId,
                            method: "DELETE",
                            success: function () {
                                console.log("Deleted game.");
                                window.location.href = "/Game/GetGames";
                            }
                        });
                    }
                });
            }
        });
    </script>
}