@model MvcFrameworkApp.Models.NewGameModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>

@using (Html.BeginForm("Create", "Game"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.GameModel.Name)
        @Html.TextBoxFor(m => m.GameModel.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GameModel.ReleaseDate)
        @Html.EditorFor(m => m.GameModel.ReleaseDate, new { @class = "form-control", @type = "date" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GameModel.GenreType)
        @Html.DropDownListFor(m => m.GameModel.GenreType.Id, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Genre", new { @class = "form-control" })
    </div>
}

