@model MvcFrameworkApp.Models.CustomerFormViewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null && Model.Id > 0)
{
    <h2>Edit</h2>
}
else
{
    <h2>New</h2>
}

@using (Html.BeginForm("Save", "User"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthdate)
        @Html.EditorFor(m => m.Birthdate, new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(m => m.Birthdate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MembershipTypeId)
        @Html.DropDownListFor(m => m.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MembershipTypeId)
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>
    if (Model != null && Model.Id > 0)
    {
        <button id="delete-user" type="button" class="btn btn-primary">Delete</button>
    }
    else
    {
        @Html.ActionLink("Cancel", "GetCustomers", null, new { @class = "btn btn-primary" })
    }
}