<div class="card">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>
    <div class="card-body">
        <p class="card-text">Genre: @Model.GenreType.Name</p>
        <p class="card-text">Release Date: @Model.ReleaseDate</p>
    </div>
    <div class="card-footer">
        <a class="btn btn-lg" asp-page="./Details" asp-route-gameId="@Model.Id">Details</a>
        <a class="btn btn-lg" asp-page="./Edit" asp-route-gameId="@Model.Id">Edit</a>
        <a class="btn btn-lg" asp-page="./Delete" asp-route-gameId="@Model.Id">Delete</a>
    </div>
</div>